body {
  align-items: center;
  background: linear-gradient(-45deg, #210242, #9198e5);
  display: flex;
  font-family: sans-serif;
  font-size: 11pt;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}
.card {
  background: white;
  top:20px;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: 80%;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 80%;
}
.title {
  font-size: 1.5em;
  height: 29px;
  margin-bottom: 0;
}

.card.saving .line2 {
  animation: 4s 500ms Rotate forwards;
}
.card.done .line2 {
  animation: 500ms ScaleDown forwards;
}
.form {
  transform-origin: 0 50%;
  transition: transform 500ms, opacity 500ms;
}
.card.saving .form {
  transform: translateY(-16px) scale(.8);
}
.card.done .form {
  transform: translateY(-16px) scale(.8);
  opacity: 0;
}
.input {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
  outline: none !important;
  position: relative;
  width: 300px;
}
@keyframes Rotate {
  0% { transform: rotate(0); opacity: 1; }
  25% { transform: rotate(360deg); opacity: 1; }
  50% { transform: rotate(720deg); opacity: 1; }
  75% { transform: rotate(1080deg); opacity: 1; stroke-dasharray: 6 48; stroke-dashoffset: -42;}
  100% { transform: rotate(1080deg); opacity: 1; stroke-dashoffset: 0; stroke-dasharray: 36 48;}
}
@keyframes ScaleDown {
  0% { transform: scale(1); }
  100% { transform: scale(0);}
}

td {
  color: #737480;
  text-align: left;
}

table {
  table-layout: fixed;
  width: 450px;
  color: #262626;
  text-align: left;
  background: #fafafa;
  border-spacing: 2px;
  display: table-cell;
  border: 1px #d5d5cd solid;
}

footer {
  font-size: 10pt;
  text-align: center;
}

section#input {
  height: 90px
}

section#formula {
  width: 200%
}

section#info {
  top:10%;
}

section#footer {
  position:fixed;
  left:0px;
  bottom:8%;
  width:100%;
}

h1 {
  color: #FFFFFF;
  position:fixed;
  top: 0%;
  font-size: 22pt;
}

h5 {
  color:#AA3333;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 80%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 450px;
  text-align: left;
  border: none;
  outline: none;
  font-size: 12pt;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-size: 12pt;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

checkbox {
  font-size: 8pt;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
